* {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    font-family: 'Nunito', sans-serif;
    text-align: center;
    color: black;
    width: 100%;
    height: 100%;

}

.container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto auto;
    grid-gap: .9rem;
    justify-items: center;
    align-items: start;
    justify-content: center;
    align-content: start;
    margin: 1rem;

}

.content {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    max-width: 99vw;
}

.frontPage {
    width: 93vw;
}

footer {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
}

.siteTitle {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.siteTitle a {
    font-family: 'Baloo Chettan', cursive;
    color: maroon;
    text-transform: uppercase;
    font-size: 2rem;
    line-height: 1.1rem;
}

.smaller {
    font-size: 1.5rem;
    text-transform: none;
}

.siteTitle a:hover {
    color: lavender;
}

.linksContainer {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-bottom: 1.5rem;

}

.linksContainer .links {
    font-family: 'Comfortaa', cursive;
    border-bottom: solid .1rem lavender;
    font-size: 1rem;
    padding: .4rem .1rem .2rem .1rem;
    margin: 0 .4rem;
    display: inline-block;
}

.linksContainer .links a {
    color: maroon;

}

.linksContainer .links a:hover,
a:visited,
a:link,
a:active {
    text-decoration: none;
}

.linksContainer .links:hover {
    border-bottom: solid .1rem maroon;
}

.container .active {
    border-bottom: solid .1rem maroon;
}



.artworkItem {
    margin-bottom: 2rem;
}

.artworkItem img,
.artworkItem video,
.imgBlock,
.otherMedia {
    margin-bottom: 0.5rem;
}

.embedMedia {
    margin-bottom: 1rem;
}

.artTitle {
    font-style: italic;
    font-size: .95rem;
    margin-bottom: 0.5rem;
}

.text {
    font-size: .9rem;
}

.projectHeader {
    font-size: 1.5rem;
}

.content a {
    color: maroon;
    text-decoration: none;
}

.content a:hover {
    color: lavender;
}

.content img {
    border: 0;
    max-width: 93vw;
    max-height: 93vh;

}

.content .imgBlock {
    margin-bottom: 2.3rem;
}

.aboutText {
    margin-bottom: 1rem;
    font-size: .84rem;
    line-height: 1.7rem;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}

.aboutText span {
    font-weight: bolder;
}

.gifSeparator {
    margin-bottom: 2rem;
}

.mr-sm {
    margin-bottom: 1rem;
}

.message {
    font-size: 0.8rem;
    padding: .3rem .8rem;
    color: darkmagenta;
    display: inline-block;
    border: 1px solid darkmagenta;
    border-radius: 6px;
    background-color: antiquewhite;

}

.presentationCats {
    display: inline-block;
}

.presentationCat {
    font-size: 1.2rem;
    font-weight: 700;
    padding: .4rem 0rem;
    display: inline-block;
}

.marginBelow {
    margin-bottom: 1rem;
}

.presentationGroup {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
}

.presentationItem {

    width: 400px;



    margin: .5rem;
}

.presentationItemTall {

    width: auto;
    height: 350px;

}

.hrSeparator {
    border: 1.5px solid black;
    width: 100%;
    margin: auto;
    border-radius: 10px;
}

.directVideoWrapper {}

.directVideo {
    width: 960px;
    height: auto;
    max-width: 93vw;
    max-height: auto;
}

.videoWrapper {
    max-width: 960px;
    max-height: auto;
    margin-left: auto;
    margin-right: auto;
}

.belowVideo {
    margin-top: 1rem;
}

.copyright {
    font-size: .8rem;

}

footer a {
    color: black;
}

@media (min-width: 900px) {}
