* {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
}

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background-color: white;
    font-family: 'Nunito', sans-serif;
    text-align: center;

}

.container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto auto;
    grid-gap: .7rem;
    justify-items: center;
    align-items: start;
    justify-content: center;
    align-content: start;
    padding: 1rem;


}

.siteTitle {
    grid-column: 2 / 3;
    grid-row: 1 / 2;

}

.siteTitle a {
    font-family: 'Baloo Chettan', cursive;
    color: maroon;
    text-transform: uppercase;
    font-size: 2rem;
    text-decoration: none;

}



.siteTitle a:hover {
    color: skyblue;
}

.linksContainer {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;

}

.linksContainer .links {
    font-family: 'Comfortaa', cursive;
    border-bottom: solid .1rem lavender;
    font-size: 1rem;
    padding: .2rem;
    margin: 0 .4rem .1rem;
    display: inline-block;

}

.linksContainer .links a {
    color: maroon;
}

.linksContainer .active {
    border-bottom: solid .1rem maroon;
}

.linksContainer .links a:hover,
a:visited,
a:link,
a:active {
    text-decoration: none;
}

.linksContainer .links:hover {
    border-bottom: solid .1rem maroon;
}



.content {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    color: black;
    text-align: center;
    margin: 1.5rem 0 0 0;
}

.artworkItem {
    margin: 0 0 1.7rem 0;
}

.artworkItem img {
    margin: 0 0 0.5rem 0;
}

.artTitle {
    font-style: italic;
    font-size: .95rem;
}

.content .text {
    font-size: .9rem;
    margin-top: .7rem;
}

.moreLink {
    padding: 0 0 1rem 0;
    font-style: italic;
}

.content a {
    color: maroon;
    text-decoration: none;
}

.content a:hover {
    color: purple;
}

.content img {
    border: 0;
    max-width: 90vw;
    max-height: 70vh;
}

.content imgBlock {
    margin-bottom: 2.3rem;
}

.aboutText {
    margin-bottom: 1rem;
    padding: 0 10% 0 10%;
}

.gifSeparator {
    margin: 0 0 3rem 0;
}

.mr-sm {
    margin: 0 0 1rem 0;
}

.welcome {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.video {
    margin: auto;
    overflow: hidden;
    max-width: 90vw;
    max-height: 70vh;
}

.video iframe,
.video object,
.video embed {
    margin: auto;
    max-width: 90vw;
    max-height: 70vh;
}

footer {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
}

.copyright {
    font-size: .8rem;
}

@media (min-width: 900px) {
    .aboutText {

        padding: 0 25% 0 25%;
    }

}
