body {
    background-color: white;
    font-family: 'exo 2';
}

#lightboxOverlay {
    position: fixed !important;
    top: 0;
    left: 0;
    height: 100vh !important;
    width: 100vw !important;
}

#lightbox {
    position: fixed !important;
    top: 50% !important;
    transform: translateY(-50%);
}

.lb-outerContainer {
    max-width: 97vw;
    max-height: calc(97vw * (1/1));

}

.lb-dataContainer {
    max-width: 97vw;
    max-height: calc(97vw * (1/1));

}

#lightbox img {
    max-width: 97vw;
    max-height: calc(97vw * (1/1));
}

.title {
    height: 2rem;
}

header h1 {
    text-transform: uppercase;
    font-size: 1.7rem;
    font-weight: bold;
    font-family: 'exo 2';
}

header a {
    border-bottom: 2.5px solid darkslateblue;
    color: darkslateblue;
    font-weight: bold;
    font-size: 1.1rem;
    padding-bottom: .15rem;
    font-family: 'exo 2';

}

header a:hover {
    text-decoration: none;
    color: black;
    border-bottom: 2.5px solid black;

}

header p {}

footer {
    font-family: 'exo 2';
}

/* Front Grid */

.gifGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: .7rem;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.gifGrid img {
    width: 100%;
    height: 100%;
}

.gifGrid h3 {
    margin: .2rem 0 0 0;
    padding: 0;
    font-size: .97rem;
    text-align: center;

}

/* Artist Grid */

.gifGridArtist {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 1rem;
    justify-items: center;
    align-items: start;
    justify-content: center;
    align-content: center;
}

.gifGridArtist img {
    width: 100%;
    height: 100%;
}

.loop {
    max-height: 500px;
    max-width: 500px;
}

.gifGridArtist p {
    margin: .2rem 0 0 0;
    padding: 0;
    font-size: .97rem;
    text-align: center;
    display: none;
}

footer {
    font-size: .9rem;
    text-align: center;
    font-style: italic;
    margin: 2rem 0 1rem 0;
}

@media screen and (max-width: 700px) {
    .gifGridArtist {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .gifGrid {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
}
